body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #323a42;
  font-size: 22px;
}

.title {
  font-size: 3em;
}
.about {
  margin-bottom: 1em;
  /* text-align: center; */
}
.post {
  margin-bottom: 2em;
}
.post .name {
  font-weight: bold;
}
