html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#root {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

select,
option {
  font-size: 1em;
  border-radius: 4px;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
p {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    background: black;
    color: #ccc;
    padding: 2px;

    .logo {
      font-size: 26px;
      font-family: 'Futura Std Light', futura, sans-serif;
      margin: 2px;
      img {
        height: 28px;
        margin-right: 4px;
      }
    }
  }

  .header-contents {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;

    .navigation {
      flex-basis: 10em;
      padding: 4px;
    }
    .navigation-contents {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .tabs {
        flex-grow: 1;
      }
      .console {
        flex-basis: 4em;
      }
    }
  }

  .close {
    color: #aaa;
  }
}
